<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body style="background-color: #e6e6ff">

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card">
			<div class="card-header" style="background-color: #343a40!important"><span style="color:white; font-weight: bold; font-size: 16px; display: inline">USUARIOS</span>
				<h4 sec:authorize="hasRole('ROLE_ADMINISTRADOR')" class="card-title" style="float: right;">
					<button class="btn btn-primary btn-sm" style="cursor:pointer;" onclick="mostrarModalUsuario()">Crear Usuario</button>
				</h4>
			</div>
				
				<ol class="comment-list">
				
				<th:block th:if="${ listaUsuarios != null}" th:each=" usuario : ${ listaUsuarios }">
				
					<li class="comment even thread-even depth-1" id="li-comment-35">
					<article id="comment-35" class="comment-inner">

            			<div class="flex-row align-top">
                			<div class="flex-col">
                    			<div class="comment-author mr-half">
                        			<img alt="no_user" th:if="${ usuario.rol.id == 1 }" th:src="@{/images/no_user.png}" class="avatar avatar-70 photo" height="70" width="70">
			                        <img alt="no_user" th:if="${ usuario.rol.id == 2 }" th:src="@{/images/administrativo_no_user.png}" class="avatar avatar-70 photo" height="70" width="70">
			                        <img alt="no_user" th:if="${ usuario.rol.id == 3 }" th:src="@{/images/no_user.png}" class="avatar avatar-70 photo" height="70" width="70">
                    			</div>
                			</div>

                			<div class="flex-col flex-grow">
                    			<cite class="strong fn"><span class="pregunta-usuario" th:text="${usuario.apellidoPaterno} 
                    			+ ' ' + ${usuario.apellidoMaterno} + ' ' + ${usuario.nombres}"></span></cite> <span class="badge bg-primary pregunta-escuela" th:text="${usuario.escuela.abreviatura}"></span>
                    			<span class="badge bg-info pregunta-rol" th:text ="${#strings.substringAfter(usuario.rol.nombre, '_')}"></span>     


                 				<div class="comment-meta commentmetadata uppercase is-xsmall clear">
				                    <span th:text="${#dates.format(usuario.fecha, 'dd MMMMM, yyyy - HH:mm')}" class="format_fecha">
				                    </span>
				                    
				                    <div>
	                    				<a sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')" 
	                    				class="btn btn-warning btn-sm" 
	                    				th:attr="onclick=|mostrarModalUsuarioModificar(${usuario.id},'${usuario.nombres}','${usuario.apellidoPaterno}',
	                    				'${usuario.apellidoMaterno}','${usuario.username}', '${usuario.password}','${usuario.correo}',${usuario.rol.id},
	                    				${usuario.escuela.id}, ${usuario.activo})|">Editar</a>
	                    				<a sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')" th:href="@{/usuarios/eliminar/} + ${usuario.id}" 
	                    				class="btn btn-danger btn-sm" 
	                    				 onclick="return confirm('Estas seguro que quieres eliminar el usuario?');">Eliminar</a>
	                    			</div>
                				</div>

                			</div>
            			</div>
					</article>
					</li>
					
				</th:block>
				
				</ol>
				
				
			</div>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		
	<!-- Modal Pregunta Agregar-->
<div class="modal fade" id="modalPregunta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Pregunta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="cursor:pointer;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/pregunta/create}" method="POST">
      <div class="modal-body">
        
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Descripcion</label>
 				<textarea id="descripcionPregunta" name="descripcion" class="form-control" rows="3"></textarea>
			</div>
		
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" style="cursor:pointer;">Preguntar</button>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal Usuario Agregar-->
<div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="cursor:pointer;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/usuarios}" method="POST">
      <div class="modal-body">
        <div class="row">
        	<div class="form-group col-md-4">
				<label for="exampleFormControlTextarea1">Nombres</label>
				<input type="text" id="nombresUsuario" name="nombres" class="form-control">
			</div>
			<div class="form-group col-md-4">
				<label for="exampleFormControlTextarea1">Apellido Paterno</label>
				<input type="text" id="apellidoPaternoUsuario" name="apellidoPaterno" class="form-control">
			</div>
			<div class="form-group col-md-4">
				<label for="exampleFormControlTextarea1">Apellido Materno</label>
				<input type="text" id="apellidoMaternoUsuario" name="apellidoMaterno" class="form-control">
			</div>
			<div class="form-group col-md-4">
				<label for="exampleFormControlTextarea1">Correo</label>
				<input type="text" id="correoUsuario" name="correo" class="form-control">
			</div>
			<div class="form-group col-md-4">
				<label for="exampleFormControlTextarea1">Escuela</label>
				<select class="form-select form-control" aria-label="Default select example" id="escuelaUsuario" name="escuela">
					<option th:each="escuela : ${ listaEscuelas }" th:value="${escuela.id}" th:text="${escuela.abreviatura}"></option>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label for="exampleFormControlTextarea1">Rol</label>
				<select class="form-select form-control" aria-label="Default select example" id="rolUsuario" name="rol">
					<option th:each="rol : ${ listaRoles }" th:value="${rol.id}" th:text ="${#strings.substringAfter(rol.nombre, '_')}"></option>
				</select>
			</div>
        </div>
        
		<div class="row">
			<div class="form-group col-md-5">
				<label for="exampleFormControlTextarea1">Username</label>
				<input type="text" id="usernameUsuario" name="username" class="form-control">
			</div>
			<div class="form-group col-md-5">
				<label for="exampleFormControlTextarea1">Password</label>
				<input type="password" id="passwordUsuario" name="password" class="form-control">
			</div>
			<div class="form-group col-md-2" style="text-align: center">
				<label for="exampleFormControlTextarea1">Activo</label>
				<input type="checkbox" class="form-control" id="activoUsuario" name="activo" value="true"/>
			</div>
		</div>
		
		
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" style="cursor:pointer;">Agregar</button>
      </div>
      </form>
    </div>
  </div>
</div>



<!-- Modal Usuario Modificar-->
<div class="modal fade" id="modalUsuarioModificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="cursor:pointer;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/usuarios/editar}" method="POST">
      <input type="hidden" id="idUsuarioModificar" name="id"/>
      <div class="modal-body">
        <div class="row">
        	<div class="form-group col-md-4">
				<label for="exampleFormControlTextarea1">Nombres</label>
				<input type="text" id="nombresUsuarioModificar" name="nombres" class="form-control">
			</div>
			<div class="form-group col-md-4">
				<label for="exampleFormControlTextarea1">Apellido Paterno</label>
				<input type="text" id="apellidoPaternoUsuarioModificar" name="apellidoPaterno" class="form-control">
			</div>
			<div class="form-group col-md-4">
				<label for="exampleFormControlTextarea1">Apellido Materno</label>
				<input type="text" id="apellidoMaternoUsuarioModificar" name="apellidoMaterno" class="form-control">
			</div>
			<div class="form-group col-md-4">
				<label for="exampleFormControlTextarea1">Correo</label>
				<input type="text" id="correoUsuarioModificar" name="correo" class="form-control">
			</div>
			<div class="form-group col-md-4">
				<label for="exampleFormControlTextarea1">Escuela</label>
				<select class="form-select form-control" aria-label="Default select example" id="escuelaUsuarioModificar" name="escuela">
					<option th:each="escuela : ${ listaEscuelas }" th:value="${escuela.id}" th:text="${escuela.abreviatura}"></option>
				</select>
			</div>
			<div class="form-group col-md-4">
				<label for="exampleFormControlTextarea1">Rol</label>
				<select class="form-select form-control" aria-label="Default select example" id="rolUsuarioModificar" name="rol">
					<option th:each="rol : ${ listaRoles }" th:value="${rol.id}" th:text ="${#strings.substringAfter(rol.nombre, '_')}"></option>
				</select>
			</div>
        </div>
        
		<div class="row">
			<div class="form-group col-md-5">
				<label for="exampleFormControlTextarea1">Username</label>
				<input type="text" id="usernameUsuarioModificar" name="username" class="form-control">
			</div>
			<div class="form-group col-md-5">
				<label for="exampleFormControlTextarea1">Cambiar Password</label>
				<input type="password" id="passwordUsuarioModificar" name="password" class="form-control">
			</div>
			<div class="form-group col-md-2" style="text-align: center">
				<label for="exampleFormControlTextarea1">Activo</label>
				<input type="checkbox" class="form-control" id="activoUsuarioModificar" name="activo" value="true"/>
			</div>
		</div>
		
		
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" style="cursor:pointer;">Modificar</button>
      </div>
      </form>
    </div>
  </div>
</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>