<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title
	th:text="'UNFV | CONSULTAS FIIS'"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/all.css}" />

<link rel="stylesheet" th:href="@{/css/comments.css}" />
</head>
<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/listar}">Consultas FIIS</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMINISTRATIVO','ROLE_ALUMNO','ROLE_ADMINISTRADOR')"><a class="nav-link" th:href="@{/listar}">Preguntas</a></li>
					<li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR')"><a class="nav-link" th:href="@{/usuarios/listar}">Usuarios</a></li>
				</ul>
				<ul class="navbar-nav navbar-right">
<!-- 					<li sec:authorize="!isAuthenticated()"><a -->
<!-- 						class="btn btn-outline-primary" th:href="@{/login}">Ingresar</a></li> -->

					<li sec:authorize="isAuthenticated()" class="dropdown show">
						<a class="btn btn-primary dropdown-toggle" href="#"
							role="button" id="dropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"><span sec:authentication="principal.nombres"></span></a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<form id="logoutForm" th:action="@{/logout}" method="post">
								<button class="dropdown-item" onclick="document.getElementById('logoutForm').submit();" type="submit">Salir</button>
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
							</form>
							
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${success != null}">
			<span th:text="${success}"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" style="cursor: pointer;">
		    	<span aria-hidden="true">&times;</span>
	  		</button>
			</div>
		<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error != null}">
			<span th:text="${error}"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" style="cursor: pointer;">
		    	<span aria-hidden="true">&times;</span>
	  		</button>
			</div>
		<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${warning != null}">
			<span th:text="${warning}"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" style="cursor: pointer;">
		    	<span aria-hidden="true">&times;</span>
	  		</button>
			</div>
		<div class="alert alert-info alert-dismissible fade show" role="alert" th:if="${info != null}">
			<span th:text="${info}"></span>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close" style="cursor: pointer;">
		    	<span aria-hidden="true">&times;</span>
	  		</button>
			</div>
	</header>

	<div class="container"></div>

	<footer th:fragment="footer" class="container">
		<hr />
		<img th:src="@{/images/logo_unfv.png}" alt="unfv logo" />
		<p sec:authorize="isAuthenticated()">
			Usuario logeado: <span sec:authentication="principal.username"></span> 
			| Rol: 
<!-- 			<span  -->
<!-- 				sec:authentication="authorities"></span> -->

<!-- <span sec:authentication="${#strings.substringAfter(principal.rol.nombre,'_')}"></span> -->
<span th:text ="${#strings.substringAfter(#authentication.getPrincipal().getRol().getNombre(), '_')}"></span>
					
		</p>
		
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<script th:src="@{/js/all.js}"></script>
		<script th:src="@{/js/respuesta.js}"></script>
	</footer>
</body>
</html>