<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>ErrorL</title>
<style>
	body{
    	background-color: yellow;
    }
</style>

</head>
<body>
	<h1>Se produjo un error!</h1>
	<h3 style="color:red" th:text=" ${description}"></h3>
	<h3 style="color:red" th:text="${message}"></h3>

</body>
</html>