.pregunta-usuario, .pregunta-descripcion{
	font-family: 'Lato';
}

.comment {
    list-style: none;
    padding: 1em 0 0 0;
}

.pregunta-usuario{
	color: #dd3333!important;
	margin-right: 10px;
}

.pregunta-escuela{
	margin-right: 5px;
}

.comment-list{
	font-family: "Poppins", sans-serif;
	font-size: 95%;
	line-height: 1.6;
}

.strong {
    font-weight: bold;
}

.flex-row {
    -js-display: flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.align-top {
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
    vertical-align: top !important;
}

.flex-col {
    max-height: 100%;
}

.mr-half {
    margin-right: 15px;
}

.comment .avatar {
    border-radius: 100%;
}

.flex-grow {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-negative: 1;
    -ms-flex-preferred-size: auto !important;
}

.flex-col {
    max-height: 100%;
}

p{
	margin-bottom: 1.3em;
}

.bypostauthor {
    display: block;
}

.comment+.comment {
    border-top: 1px dashed #ddd;
}

article{
	padding-bottom: 20px;
}

.format_fecha{
	font-size:  12px;
	color: #8F9CA3;
}