<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body style="background-color: #e6e6ff">

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card">
			<div class="card-header" style="background-color: #343a40!important"><span style="color:white; font-weight: bold; font-size: 16px; display: inline">PREGUNTAS</span>
				<h4 sec:authorize="hasRole('ROLE_ALUMNO')" class="card-title" style="float: right;">
					<button class="btn btn-primary btn-sm" style="cursor:pointer;" onclick="mostrarModalPregunta()">Crear Pregunta</button>
				</h4>
			</div>
				
				<ol class="comment-list">
				
				<th:block th:if="${ listaPreguntas != null}" th:each=" pregunta : ${ listaPreguntas }">
				
					<li class="comment even thread-even depth-1" id="li-comment-35">
					<article id="comment-35" class="comment-inner">

            			<div class="flex-row align-top">
                			<div class="flex-col">
                    			<div class="comment-author mr-half">
                        			<img alt="no_user" th:if="${ pregunta.usuario.rol.id == 1 }" th:src="@{/images/no_user.png}" class="avatar avatar-70 photo" height="70" width="70">
			                        <img alt="no_user" th:if="${ pregunta.usuario.rol.id == 2 }" th:src="@{/images/administrativo_no_user.png}" class="avatar avatar-70 photo" height="70" width="70">
			                        <img alt="no_user" th:if="${ pregunta.usuario.rol.id == 3 }" th:src="@{/images/no_user.png}" class="avatar avatar-70 photo" height="70" width="70">
                    			</div>
                			</div>

                			<div class="flex-col flex-grow">
                    			<cite class="strong fn"><span class="pregunta-usuario" th:text="${pregunta.usuario.nombres} + ' ' + ${pregunta.usuario.apellidoPaterno} 
                    			+ ' ' + ${pregunta.usuario.apellidoMaterno}"></span></cite> <span class="badge bg-primary pregunta-escuela" th:text="${pregunta.usuario.escuela.abreviatura}"></span>
                    			<span class="badge bg-info pregunta-rol" th:text ="${#strings.substringAfter(pregunta.usuario.rol.nombre, '_')}"></span>                     
                   				<div class="comment-content">
		                   			<p th:text="${pregunta.descripcion}" class="pregunta-descripcion">
		                   				
		                   			</p>
								</div>


                 				<div class="comment-meta commentmetadata uppercase is-xsmall clear">
				                    <span th:text="${#dates.format(pregunta.fecha, 'dd MMMMM, yyyy - HH:mm')}" class="format_fecha">
				                    </span>
				                    
				                    <div>
	                    				<a sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_ADMINISTRATIVO','ROLE_ALUMNO')" th:href="@{/respuestas/} + ${pregunta.id}" class="btn btn-info btn-sm">Ver respuestas</a>
	                    			</div>
                				</div>

                			</div>
            			</div>
					</article>
					</li>
					
				</th:block>
				
				</ol>
				
				
			</div>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		
	<!-- Modal Pregunta Agregar-->
<div class="modal fade" id="modalPregunta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Pregunta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="cursor:pointer;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/pregunta/create}" method="POST">
      <div class="modal-body">
        
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Descripcion</label>
 				<textarea id="descripcionPregunta" name="descripcion" class="form-control" rows="3"></textarea>
			</div>
		
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" style="cursor:pointer;">Preguntar</button>
      </div>
      </form>
    </div>
  </div>
</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>