<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title
	th:text="'UNFV | LOGIN'"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/all.css}" />
</head>
<body>

<!-- 	<header th:replace="layout/layout :: header"></header> -->

	<div class="container py-4">

<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
			
		<div class="card border-primary text-center mx-auto" style="width: 400px; margin-top: 50px">
			<div class="card-header">Iniciar Sesión</div>
			<div class="card-body">
				<img th:src="@{/images/logo_unfv.png}" alt="unfv logo" class="mb-3"/>
				<form th:action="@{/login}" method="post">
					<div class="form-group col-sm-12">
						<input type="text" name="username" id="username"
							class="form-control" placeholder="Username" autofocus required />
					</div>

					<div class="form-group col-sm-12">
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Password" required />
					</div>

					<div class="form-group col-sm-12">
						<input type="submit" class="btn btn-lg btn-primary btn-block"
							value="Ingresar" style="cursor:pointer;"/>
					</div>
				
				
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
				
				
				

				</form>
			</div>

		</div>


	</div>

<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script th:src="@{/js/all.js}"></script>
<!-- 	<footer th:replace="layout/layout :: footer"></footer> -->
</body>
</html>