<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body style="background-color: #e6e6ff">

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card">
			<div class="card-header" style="background-color: #343a40!important"><span style="color:white; font-weight: bold; font-size: 16px; display: inline">RESPUESTAS</span>
				<h4 sec:authorize="hasAnyRole('ROLE_ADMINISTRATIVO','ROLE_ALUMNO')" class="card-title" style="float: right;">
					<button class="btn btn-primary btn-sm" style="cursor:pointer;" onclick="mostrarModalRespuesta()">Responder</button>
				</h4>
			</div>
				
				<ol class="comment-list">
				<th:block th:if="${ pregunta != null}">
				
					<li class="comment even thread-even depth-1" id="li-comment-35">
					<article id="comment-35" class="comment-inner">

            			<div class="flex-row align-top">
                			<div class="flex-col">
                    			<div class="comment-author mr-half">
                        			<img alt="no_user" th:if="${ pregunta.usuario.rol.id == 1 }" th:src="@{/images/no_user.png}" class="avatar avatar-70 photo" height="70" width="70">
			                        <img alt="no_user" th:if="${ pregunta.usuario.rol.id == 2 }" th:src="@{/images/administrativo_no_user.png}" class="avatar avatar-70 photo" height="70" width="70">
			                        <img alt="no_user" th:if="${ pregunta.usuario.rol.id == 3 }" th:src="@{/images/no_user.png}" class="avatar avatar-70 photo" height="70" width="70">
                    			</div>
                			</div>

                			<div class="flex-col flex-grow">
                    			<cite class="strong fn"><span class="pregunta-usuario" th:text="${pregunta.usuario.nombres} + ' ' + ${pregunta.usuario.apellidoPaterno} 
                    			+ ' ' + ${pregunta.usuario.apellidoMaterno}"></span></cite> <span class="badge bg-primary pregunta-escuela" th:text="${pregunta.usuario.escuela.abreviatura}"></span> 
                    			<span class="badge bg-info pregunta-rol" th:text ="${#strings.substringAfter(pregunta.usuario.rol.nombre, '_')}"></span>                   
                   				<div class="comment-content">
		                   			<p th:text="${pregunta.descripcion}" class="pregunta-descripcion">
		                   				
		                   			</p>
								</div>


                 				<div class="comment-meta commentmetadata uppercase is-xsmall clear">
				                    <span th:text="${#dates.format(pregunta.fecha, 'dd MMMMM, yyyy - HH:mm')}" class="format_fecha">
				                    </span>
				                    <div>
	                    				<a sec:authorize="hasAnyRole('ROLE_ALUMNO')" 
	                    				class="btn btn-warning btn-sm" th:if="${ pregunta.usuario.id == idUser }"
	                    				th:attr="onclick=|mostrarModalPreguntaModificar('${pregunta.descripcion}','${pregunta.id}')|">Editar</a>
	                    				<a sec:authorize="hasAnyRole('ROLE_ALUMNO')" th:href="@{/pregunta/eliminar/} + ${pregunta.id}" 
	                    				class="btn btn-danger btn-sm" th:if="${ pregunta.usuario.id == idUser }"
	                    				 onclick="return confirm('Estas seguro que quieres eliminar la pregunta?');">Eliminar</a>
	                    			</div>
                				</div>

                			</div>
            			</div>
					</article>
					
					
					
					<ul class="children">
					
					<th:block th:if="${ pregunta.listaRespuestas != null and !pregunta.listaRespuestas.empty()}" th:each=" respuesta : ${ pregunta.listaRespuestas }">
						<li class="comment byuser comment-author-admin-mbl bypostauthor odd alt depth-2" id="li-comment-36">
							<article id="comment-36" class="comment-inner">

            					<div class="flex-row align-top">
                					<div class="flex-col">
					                    <div class="comment-author mr-half">
					                        <img alt="no_user" th:if="${ respuesta.usuario.rol.id == 1 }" th:src="@{/images/no_user.png}" class="avatar avatar-70 photo" height="70" width="70">
					                        <img alt="no_user" th:if="${ respuesta.usuario.rol.id == 2 }" th:src="@{/images/administrativo_no_user.png}" class="avatar avatar-70 photo" height="70" width="70">
					                        <img alt="no_user" th:if="${ respuesta.usuario.rol.id == 3 }" th:src="@{/images/no_user.png}" class="avatar avatar-70 photo" height="70" width="70">
					                    </div>
                					</div>

                					<div class="flex-col flex-grow">
                    					<cite class="strong fn pregunta-usuario" th:text="${respuesta.usuario.nombres} + ' ' + ${respuesta.usuario.apellidoPaterno} 
                    			+ ' ' + ${respuesta.usuario.apellidoMaterno}"></cite> <span class="badge bg-primary pregunta-escuela" th:text="${respuesta.usuario.escuela.abreviatura}"></span> 
                    			<span class="badge bg-info pregunta-rol" th:text ="${#strings.substringAfter(respuesta.usuario.rol.nombre, '_')}"></span>                   
	                   					<div class="comment-content">
					                   		<p th:text="${respuesta.descripcion}" class="pregunta-descripcion">
											</p>
										</div>


						                 <div>
						                    <span th:text="${#dates.format(respuesta.fecha, 'dd MMMMM, yyyy - HH:mm')}" class="format_fecha">
						                    </span>
						                    <div>
			                    				<button sec:authorize="hasAnyRole('ROLE_ADMINISTRATIVO','ROLE_ALUMNO')"
			                    				class="btn btn-warning btn-sm" th:if="${ respuesta.usuario.id == idUser }" 
			                    				th:attr="onclick=|mostrarModalRespuestaModificar('${respuesta.descripcion}','${respuesta.id}')|">Editar</button>
			                    				<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATIVO','ROLE_ALUMNO')" th:href="@{/respuestas/eliminar/} + ${respuesta.id} + @{/} + ${pregunta.id}" 
			                    				class="btn btn-danger btn-sm" th:if="${ respuesta.usuario.id == idUser }"
			                    				 onclick="return confirm('Estas seguro que quieres eliminar la respuesta?');">Eliminar</a>
			                    			</div>
						                </div>

                					</div>
           					 	</div>
							</article>

						</li>
						
						</th:block>
						
						<th:block th:unless="${ pregunta.listaRespuestas != null and !pregunta.listaRespuestas.empty()}">
							<div class="text-center" style="font-size: 22px; font-weight: bold;">No hay respuestas</div>
						</th:block>
					</ul>
				
					
					
					
					
					</li>
					
				</th:block>
				
			</ol>
				
				
			</div>
			</div>
		



	<footer th:replace="layout/layout :: footer"></footer>
	
	
	<!-- Modal Respuesta Agregar-->
<div class="modal fade" id="modalRespuesta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Respuesta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="cursor:pointer;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/respuestas/} + ${pregunta.id}" method="POST">
      <div class="modal-body">
        
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Descripcion</label>
 				<textarea id="descripcionRespuesta" name="descripcion" class="form-control" rows="3"></textarea>
			</div>
		
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" style="cursor:pointer;">Responder</button>
      </div>
      </form>
    </div>
  </div>
</div>

	<!-- Modal Respuesta Modificar-->
<div class="modal fade" id="modalRespuestaModificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Respuesta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="cursor:pointer;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/respuestas/editar/} + ${pregunta.id}" method="POST">
      <div class="modal-body">
        	<input type="hidden" id="idRespuestaModificar" name="id"/>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Descripcion</label>
 				<textarea id="descripcionRespuestaModificar" name="descripcion" class="form-control" rows="3"></textarea>
			</div>
		
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" style="cursor:pointer;">Aceptar</button>
      </div>
      </form>
    </div>
  </div>
</div>

	<!-- Modal Pregunta Modificar-->
<div class="modal fade" id="modalPreguntaModificar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Pregunta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="cursor:pointer;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form th:action="@{/pregunta/editar}" method="POST">
      <div class="modal-body">
      		<input type="hidden" id="idPreguntaModificar" name="id"/>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Descripcion</label>
 				<textarea id="descripcionPreguntaModificar" name="descripcion" class="form-control" rows="3"></textarea>
			</div>
		
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" style="cursor:pointer;">Aceptar</button>
      </div>
      </form>
    </div>
  </div>
</div>
	
	
	
</body>
</html>